@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 31.25%;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
}

.container {
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  display: flex;
  text-align: center;
  justify-items: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  color: #eee;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.overlay-span {
  text-align: center;
  justify-content: center;
  align-content: center;
  justify-self: center;
  /* background-color: peru; */
  border-radius: 4rem;
  font-size: 3.5rem;
  line-height: 6rem;
  word-spacing: 4rem;
  flex-basis: 100%;
  margin: 0 2rem;
}

.hidden {
  display: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: rgb(100, 100, 100); */
  position: relative;
  height: 35vh;
  border-bottom: 1rem solid #eee;
}

header h1 span {
  font-size: 2rem;
  padding-top: 4rem;
  display: block;
}

main {
  flex-direction: column;
  display: flex;
  gap: 4rem;
  height: 65vh;
  color: #eee;
}

button {
  border-radius: 4rem;
  font-size: 2rem;
}

button:hover {
  background-color: rgb(111, 0, 255);
  color: #eee;
}

.heading {
  /* background-color: rgb(0, 102, 102); */
  text-align: center;
  align-self: flex-end;
  margin-bottom: 18rem;
  font-size: 4rem;
}

.again {
  width: 20rem;
  height: 8rem;
  display: none;
  font-family: inherit;

  border: none;
  cursor: pointer;
  border-radius: 1rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 0;
  margin-right: 20rem;
  padding: 2rem 2rem;
}

.again2 {
  font-family: inherit;

  border: none;
  cursor: pointer;
  align-self: center;
  margin: 2rem 4rem;
  padding: 2rem 2rem;
  width: 20rem;
  height: 8rem;
}

.between {
  display: none;
  font-size: 1.4rem;
  margin: 4rem 4rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: fit-content;
  text-align: flex-start;
  justify-content: center;
  align-content: center;
  order: 1;
}

.right {
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-align: flex-start;
  align-self: center;
  order: 3;
  font-size: 2.5rem;
}

.score-span  {
  align-self: flex-start;
} 

.number-input {
  background: none;
  font-family: inherit;
  color: inherit;
  align-self: center;
  text-align: center;
  outline: none;

  width: 30rem;
  height: 9rem;
  font-size: 4rem;
  border: 2px solid #eee;
  border-radius: 10rem;
  padding: 2.5rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.check-btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-family: inherit;
  cursor: pointer;
  margin: 1rem 4rem;
  padding: 2rem 2rem;
  align-self: center;
  width: 20rem;
  height: 8rem;

}

.number {
  background-color: #eee;
  color: rgb(41, 41, 41);
  text-align: center;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  order: 0;
  align-self: center;
  transform: translateY(-6.5rem);
}

.output {
  width: fit-content;
  font-size: 3rem;
  padding-bottom: 1rem;
}

.score, .score-span {
  padding-bottom: 2rem;
}

.highscore, .highscore span {
  width: fit-content;
}


footer {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: 'Urbanist', sans-serif;
  position: relative;
  margin-bottom: 2rem;
  align-self: center;
  margin-top: 15rem;
  margin-bottom: 3rem;
  order: 3;
}

footer a {
  cursor: pointer;
  font-style: italic;
  color: #eee;
  text-decoration: underline 1px;
}
